<div class="project-detail">
    <button class="px-3 py-1" pButton type="button" label="Back" (click)="NavigateToList()"></button>

    <div class="row my-3 mx-0 project-content">
        <div class="col-12 col-lg-8 pl-lg-0 my-3">
            <img src="assets/images/watch.jpg" alt="">
        </div>
        <div class="col-12 col-lg-4 pr-lg-0 my-3">
            <p-card>
                <div class="p-2">
                    <h4 class="mb-4">Product Details</h4>
                    <hr>
                    <div class="project-info">
                        <span>Category : </span>
                        <span> {{data.category}}</span>
                    </div>

                    <div class="project-info">
                        <span>Description : </span>
                        <span> {{data.description}}</span>
                    </div>

                    <div class="project-info">
                        <span>Name: </span>
                        <span> {{data.name}}</span>
                    </div>
                    <div class="project-info">
                        <span>Price : </span>
                        <span> {{data.price}}</span>
                    </div>
                    <div class="project-info">
                        <span>Quantity : </span>
                        <span> {{data.quantity}}</span>
                    </div>
                    <div class="project-info">
                        <span>Inventory Status : </span>
                        <span> {{data.inventoryStatus}}</span>
                    </div>
                </div>
            </p-card>


            <div class="portfolio-detail">
                <h2>This is an example of portfolio detail</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas rem ullam unde et, nostrum veniam nemo
                    velit laborum aspernatur magni molestiae soluta est! Ipsam accusantium officia nostrum perferendis
                    facere obcaecati.</p>
            </div>
        </div>
    </div>
</div>